%header
  .logo
    %a{:href => "#0"}
      %img{:alt => "Logo", :src => "img/logo.svg"}/
  %nav.main-nav-wrapper
    %ul.main-nav
      %li
        %a{:href => "#0"} About
      %li
        %a{:href => "#0"} Projects
      %li
        %a{:href => "#0"} Blog
      %li
        %a{:href => "#0"} Contact
      %li
        %a.subnav-trigger{:href => "#0"}
          %span Categories
        %ul
          %li.go-back
            %a{:href => "#0"} Menu
          %li
            %a{:href => "#0"} Category 1
          %li
            %a{:href => "#0"} Category 2
          %li
            %a{:href => "#0"} Category 3
          %li
            %a{:href => "#0"} Category 4
          %li
            %a{:href => "#0"} Category 5
          %li
            %a.placeholder{:href => "#0"} Placeholder
    / .main-nav
  / .main-nav-wrapper
  %a.nav-trigger{:href => "#0"}
    Menu
    %span
%main.main-content
  / main content here